@font-face {
    font-family: 'GothamNarrow-Black';
    src: url('/fonts/GothamNarrow-Black.otf') format('opentype');
}

@font-face {
    font-family: 'GothamNarrow-Book';
    src: url('/fonts/GothamNarrow-Book.otf') format('opentype');
}

* {
    font-family: 'GothamNarrow-Book';
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.menubar{list-style:none;padding:0;margin:0;margin-top:15px;background-color:#eeeeee;border:solid 0.3mm #e8e8e8;width:90%}
.menubar li a{display:block;padding:7px;color:#161515;border-bottom:solid 0.3mm #dcdcdc }
.menubar li a:hover {
    background-color:white;
    text-decoration:none
}
.Baslik {
    display: block;
    padding: 7px;
    text-align: center;
    padding-left: 0;
    background-color: #eeeeee;
    color: #161515
}
.Auto {margin-left:10%;margin-right:10%;width:80%;}
.Footer-LOGO{margin-right:auto;margin-left:auto;}